<%- include('./partials/header.ejs') %>

<h3>Home page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iste optio nobis minus obcaecati, non eum eligendi dicta voluptas saepe sunt excepturi, aperiam animi impedit ipsam aliquam quibusdam numquam dolorem temporibus similique est officiis, recusandae distinctio? Dolorum, iusto quasi?</p>

<a href="/login">login</a>
<a href="/signUp">signup</a>

<%- include('./partials/footer.ejs') %>



    
